.fondo {
    background: url(todas.jpg);
    background-size: cover;
    height: auto;
    background-position: bottom center;
}
body {
    margin: 0;
}
h1 {
  color:rgba(0,0,0,0.6);
  font-family: 'Quicksand', sans-serif;
  font-size: 90px;
  font-weight: 800;
  line-height: 700px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  }
.boton a {
    background: #0033cc;
    border: 1px solid #0033cc;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    margin: 10px 10px;
    padding: 14px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}
.boton a:hover {
  background: #FFF;
  border: 1px solid #0033cc;
  color: #0033cc;
  animation: ease;