.fondo {
    background: url(todas.jpg);
    background-size: cover;
    height: auto;
    background-position: bottom center;
}
body {
    margin: 0;
}
h1 {
  color:rgba(0,0,0,0.6);
  font-family: 'Quicksand', sans-serif;
  font-size: 90px;
  font-weight: 800;
  line-height: 700px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  }